#header {
    left: 0;
    float: left;
    width: auto;
    z-index: 1000;
  }
  #caret {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg) translateY(-4px);
  }
  body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  li, #trigger2, #trigger {
    top:0;
    list-style-type: none;
    display: inline-block;
    padding: 13px;
    color: #f2f2f2;
    transition: 0.2s;
  }
  ul {
    margin-top: 0;
    position: absolute;
    top: 0;
    background: #631025;
    display: block;
    width: 100%;
    height: 3em;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
   
  }
  #main {
    left: 0;
  }
  li:hover, #trigger2:hover {
    color: #0a3054;
    background: #f2f2f2;
  }
  #dropdown {
    top: 3em;
    background-color: #640627;
    height: 0;
    overflow: hidden;
    width: 125px;
    right: 0.8em;
    transition: 0.5s;
  }
  #dropdown li {
    display: block;
    padding-left: 10px;
    padding-right: 50px;
    text-align: left;
  }
  a {
    text-decoration: none;
  }
  #dwn {
    font-size: 0.8em;
  }
  #trigger:hover + #dropdown, #dropdown:hover {
    height: 12em;
  }
  main {
    position: absolute;
    top: 2.8em;
  }
  main {
    width: 100%;
    text-align: center;
  }
  
  #trigger:hover {
    color: #09253f;
  }
  .x1 {
    position: relative;
    top: -0.8em;
  }
  #src {
    text-decoration: underline;
  }
  #src:hover {
    text-decoration: none;
  }
  #trigger2 {
    display: none !important;
  }
  #x7 {
    left: 999999px;
    
  }
  @media (max-width: 627px) {
    #header {
      width: 100%;
    }
    #brand {
      position: absolute;
      top: 0;
      left: 0;
    }
    #main {
      height: 0;
      overflow: hidden;
      z-index: 3000;
      top: 3em;
      text-align: left;
      transition: 0.5s;
    }
    #main li, #trigger {
      display: block;
    }
    #dropdown {
      position: static;
    }
    #trigger2 {
      display: inline-block !important;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    #x7:checked + #main {
      height: auto;
      padding-top: 1em;
    }
    #dropdown {
      position: relative;
      top: -1.6em !important;
      right: 0em;
      width: 100%;
    }
  }