.card:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition-timing-function:ease;
    /* transition: duration 1s; */
  }
  .card {
    background-color: #cedce4;
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
  }
  .card > img {
    height: 12rem;
  }
  .card > a:hover {
    background-color: #bfd626;
  }
  .box {
    display: flex;
    justify-content: center;
    width:80%;
    margin:auto;
    padding:1rem 0;

  }
  .box > div {
    height: 100px;
    width: 100px;
    margin: 15px;
    padding: 1rem;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: width 2s, height 2s;
    background: linear-gradient(145deg, #e6e6e6, #e1d7d7);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: width 1s, height 1s;
  }
  .box > div:hover {
    width: 130px;
    height: 130px;
    border-radius: 60px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  .container > button {
    position: relative;
    right: 25px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 100px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .container > button span {
    background: rgb(10, 10, 10);
    background: linear-gradient(0deg, rgb(13, 15, 17) 0%, rgrgb(53, 55, 57) 00%);
    color: white;
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container > button span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .container > button span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .container > button:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .container > button:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  .profile>div>h1{
     
     font-size: 3rem;
  }
  .profile>div>div>p{
  
    font-size: 1.2rem;
  }
  .profile>div>button>a{
  
    font-size: 1.5rem;
  }
  .profile>div>button>a:hover{
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0), 5px 5px 15px 5px rgba(241, 255, 235, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0), 5px 5px 15px 5px rgba(241, 255, 235, 0);
  } 
  @media all and (max-width: 1000px) and (min-width: 450px) {
    /* mobile-devices */
    .box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media all and (max-width: 449px) and (min-width: 300px) {
    /* mobile-devices */
    .box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media all and (max-width: 299px) and (min-width: 100px) {
    /* mobile-devices */
    .box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  